.input-field {
    padding: 25px 0;
}

.submit-field {
    background-color: rgb(65, 111, 163);
    text-transform: uppercase;
    font-size: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 200px;
}
