@font-face {
    font-family: "google sans";
    src: 
    url(../CardItem/fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff);
  }
  
@font-face {
    font-family: "products san";
    src:
      url(../CardItem//fonts/FontsFree-Net-ProductSans-Regular.ttf);
}

.coffee-item {
    background-color: white;
    height: 450px;
    margin: 50px;
    text-align: center;
    width: 217px;
}
  