@font-face {
    font-family: "google sans";
    src: 
    url(../src/fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff);
  }
  
@font-face {
    font-family: "products san";
    src:
    url(../src/fonts/FontsFree-Net-ProductSans-Regular.ttf);
}

body {
  background-color: rgb(231, 238, 238);
}
.wrapper {
  margin: 0 auto;
}
